.welcome {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    text-shadow: 
        0 0 5px #1177cb, 
        0 0 10px #80e1ff, 
        0 0 20px #6a11cb, 
        0 0 30px #2575fc, 
        0 0 40px #2575fc, 
        0 0 50px #2575fc, 
        0 0 75px #2575fc;
    animation: flicker 1.5s infinite alternate;
}
@keyframes slideright {
    from{transform: translateX(-20%);}

    from{transform: translateX(20%);}
    
    from{transform: translateX(-20);}
}




.welcome_txt {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    text-shadow: 
        0 0 5px #1177cb,
        0 0 10px #80e1ff, 
        0 0 20px #6a11cb, 
        0 0 30px #2575fc, 
        0 0 40px #2575fc, 
        0 0 50px #2575fc, 
        0 0 75px #2575fc;
    animation: flicker 1.5s infinite alternate;
}

.login {
    animation-name: slideright;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    width: 350px;
    height: 80px;
    border-radius: 20px;
    border-style: solid;
    position: relative;
    top: 250px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg, #1b58da, #00ffff);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-transform: uppercase;
    animation-name: slideright;
    animation-duration: 2s;
    
}

.register {
    animation-name: slideright;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    width: 350px;
    height: 80px;
    border-radius: 20px;
    border-style: solid;
    position: relative;
    top: 250px;
    margin-left: 50px;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg, #00ffff, #1b58da);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-transform: uppercase;
    animation-name: slideright;
    animation-duration: 2s;
}

body {
    background-image: url('../photo/foggy-weather-and-gloomy-sky-8q0j6jsztd67czmb.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    height: 100vh; 
    
}

.login:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, #1b58da, #00ffff,);
}

.login:active {
    transform: scale(0.95);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.register:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, #1b58da, #00ffff);
}

.register:active {
    transform: scale(0.95);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


