.start-title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 85px;
  display: block;
  margin-top: 0px;
}

.number__1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  display: block;
}
